[submodule "src/github.com/pivotal-cf/cf-rabbitmq-smoke-tests"]
	path = src/github.com/pivotal-cf/cf-rabbitmq-smoke-tests
	url = https://github.com/pivotal-cf/cf-rabbitmq-smoke-tests
[submodule "assets/rabbit-labrat"]
	path = assets/rabbit-labrat
	url = https://github.com/pivotal-cf/rabbit-labrat
