---
- type: replace
  path: /addons?/-
  value:
    name: bosh-dns-aliases
    jobs:
    - name: bosh-dns-aliases
      release: bosh-dns-aliases
      properties:
        aliases:
        - domain: nats.service.cf.internal
          targets:
          - query: '*'
            instance_group: nats
            deployment: cf
            network: default
            domain: bosh

- type: replace
  path: /releases?/name=bosh-dns-aliases?
  value:
    name: bosh-dns-aliases
    version: 0.0.3
